/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-feb-18, 11:34:09
    Author     : nicla
*/
#nav{
    background-color: #FFB405;
}
#body {
    padding-top: 100px;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.navbar-brand{
    color:#0037B2;
}

.row {
    margin-bottom: 10px;
}
.centered-form {
    width: 200px;
    margin: 0 auto;
}
