/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-feb-18, 11:34:09
    Author     : nicla
*/

/* colors: https://coolors.co/export/pdf/ffb405-00a6a6-e01a4f-f15946-53b3cb */
@import url('https://fonts.googleapis.com/css?family=Bangers|Poppins');
#body {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', sans-serif;
    text-transform: uppercase;
}
#nav{
    background-color: #FFB405;
}
#nav a {
    color: white;
}
h1 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}
.navbar-brand,
.navbar-nav a {
    font-family: 'Bangers', sans-serif;
    font-size: 28px;
}
.dropdown-menu {
    background-color: #FFB405;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #00A6A6;
    color: white;
}
h4.panel-title {
    font-size: 24px;
    letter-spacing: 2px;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.navbar-brand{
    color:#0037B2;
}

.row {
    margin-bottom: 10px;
}
.centered-form {
    width: 200px;
    margin: 0 auto;
}
.centered {
    float: none;
    margin: 0 auto;
}
.centered-text{
    text-align: center;
}
.card {
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 36px;
    line-height: 1em;
    margin-top: 35px !important;
    display: block;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 140px !important;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.borderless {
    border: 0;
    box-shadow: none;
}
.loading{
    display: none;
}
.customButton {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    height: 35px;
    padding-top: 8px;
}

#navForm\:logoutLink>a{
    margin-left: 20px!important;
    
}
#navForm\:logoutLink>a:hover{
    text-decoration: none;
}

#overlay {
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    margin: 0;
    position: fixed;
}